<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <title>PongOnline</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body style="background-color:black; color:white;">
    <header style="background-color:black; color:white;">
      Pong Online
      <small>
        <a href="/">Login Screen</a>
        <a style="float: right;" href="https://github.com/cristianberneanu/pongo">GitHub</a>
      </small>
    </header>
    <main role="main" class="container">
      <%= @inner_content %>
    </main>
  </body>
</html>
